*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root.lightmode{
  /*put colors in here for darkmode later*/
--nav-top-col: rgb(37, 37, 144);
--main-col: white;
--main-bg-col: whitesmoke;
--btn-accent-col: rgba(160, 157, 157, 0.2);
--btn-hov-accent-col: rgba(160, 157, 157, 0.6);
--notify-col: rgba(245, 8, 8, 0.7);
--side-hov-col: rgb(241, 237, 237);
--cre-btn-bg-col: rgb(62, 62, 210);
--close-icon-col: black;
--modal-border-bottom: lightgray;
--icon-col: gray;
--text-col: black;
--input-bg-col: rgb(235, 235, 235);
--input-col: black;
}


:root.darkmode{
  --nav-top-col: rgb(27, 27, 27);
  --main-col: rgba(75, 75, 100, 0.6);
  --main-bg-col: rgb(21, 21, 21);
  --btn-accent-col: rgba(160, 157, 157, 0.2);
  --btn-hov-accent-col: rgba(160, 157, 157, 0.6);
  --notify-col: rgba(245, 8, 8, 0.2);
  --side-hov-col: rgba(75, 75, 100, 0.9);
  --cre-btn-bg-col: rgb(29, 28, 28);
  --close-icon-col: black;
  --modal-border-bottom: lightgray;
  --sidebar-bg-col: rgb(17, 17, 17);
  --icon-col: gray;
  --text-col: gray;
  --input-bg-col: rgba(75, 75, 100, 0.9);
  --input-col: gray;
}

/*Nav Top*/

.top-navbar{
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-top-col);
  align-items: center;
  padding: 20px;
  font-size: 10px;
  color: var(--main-col);
}


.left-section{
  display: flex;
  column-gap: 20px;
}


.left-section > i{
font-size: 2.5em;
}

.right-section{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.right-section > i, .right-section > div{
font-size: 2.5em;
}

.left-section > i:hover, .right-section > i:hover, .notification > i:hover{
  cursor: pointer;
  background-color: var(--btn-hov-accent-col);
    }
  
    .left-section > i, .right-section > i, .notification > i{
      background-color: var(--btn-accent-col);
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      color: var(--icon-col);
        }




 .notification{
          position: relative;
          padding: 15px;
   }

   .notifiy-num{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7em;
    background-color: var(--notify-col);
    width: 22px;
    height: 22px;
    display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      flex-shrink: 0;
   }


   /*Grid*/
.main-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}


   /*Side Nav*/
 .side-nav{
background-color: var(--sidebar-bg-col);
padding: 20px 10px;
font-size: 10px;
opacity: 1;
color: var(--text-col);
 }

 .side-nav > .nav-panel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: var(--main-col);
  padding: 12px;
  font-size: 2em;
  border-radius: 5px;
 }

 .side-nav > .Project-area >.project-panel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: var(--main-col);
  padding: 12px;
  font-size: 2em;
  border-radius: 5px;
  margin-left: 20px;
 }

 .side-nav > .Project-area >.add-project-panel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  /*background-color: var(--main-col);*/
  padding: 12px;
  font-size: 2em;
  margin-left: 20px;
 }

 .project{
  display: flex;
  align-items: center;
  column-gap: 20px;
 }

 
 .side-nav > .nav-panel:hover,  .side-nav > .Project-area >.project-panel:hover{
  background-color: var(--side-hov-col);
  cursor: pointer;

 }

.add-project-panel > .project > .fa-plus, .todo-right  > i{
  background-color: var(--btn-accent-col);
  width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
}

.add-project-panel > .project > .fa-plus:hover, .todo-right  > i:hover{
  background-color: var(--btn-hov-accent-col);
  cursor: pointer;
}


.Project-area{
  display: block;
}




   /*Main Content*/
   .main-content{
background-color: var(--main-bg-col);
padding: 20px;
   }

.Main-Header{
text-align: center;
}

/*Todo Task*/
.todo-container{
background-color: var(--main-col);
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
font-size: 10px;
margin-top: 20px;
color: var(--text-col);
}

.todo-left{
  display: flex;
  column-gap: 20px;
  width: 80%;

}

#check{
  width: 20px;
}

.todo-text > h3{
 
  font-size: 2.5em;
}

.todo-text  > p{
 font-size: 1.8em;

}

.todo-right{
  display: flex;
  column-gap: 20px;
}

.todo-right  > i{
  color: var(--icon-col);
  font-size: 1.8em;
}



/*Modal2*/
.content-modal-2{
  color: var(--text-col);
  position: fixed;
  display: none;
  top: 30%;
  left: 30%;
  min-width: 50%;
  background-color: var(--main-col);
  font-size: 10px;
}


.content-modal-2 > .modal-bottom{
  padding: 20px;
}





   /*Modal*/
   .content-modal{
    color: var(--text-col);
    position: fixed;
    display: none;
    top: 30%;
    left: 30%;
    min-width: 50%;
    background-color: var(--main-col);
    font-size: 10px;
   }

   .modal-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--modal-border-bottom);
    padding: 20px;
   }

   .modal-top > h2, .modal-top > i, .close-m{
  font-size: 2.8em;
   }

  .modal-top > i:hover, .close-m{
  cursor: pointer;
     }

     .content-modal > .modal-bottom{
padding: 20px;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 15px;
     }

  

     .up{
      display: flex;
      flex-direction: column;
      font-size: 1.8em;
      gap: 10px;
     }

     .up > input{
      height: 40px;
      padding-left: 5px;
      outline: none;
      background-color: var(--input-bg-col);
      color: var(--input-col);
      border: none;
     }

     .up > select{
      height: 40px;
      outline: none;
      background-color: var(--input-bg-col);
      color: var(--input-col);
      border: none;
     }

     .modal-bottom > .up:nth-child(3){
      grid-row: 2 / 4;
     }

     #desc{
     width: 100%;
     resize: none;
     height: 100%;
     padding: 10px;
     outline: none;
     background-color: var(--input-bg-col);
     color: var(--input-col);
     border: none;
     }

     .modal-end{
      padding: 20px;
      display: flex;
      justify-content: flex-end;
      column-gap: 20px;
     }

     .close, .create-btn, .proj-create-btn{
padding: 12px 20px;
border: none;
border-radius: 3px;
font-size: 1.8em;
margin-top: -10px;
     }

  .close{
background-color: var(--main-col);
border: 1px solid var(--close-icon-col);
}

     .create-btn, .proj-create-btn{
background-color: var(--cre-btn-bg-col);
color: var(--main-col);
     }

     .close:hover, .create-btn:hover, .proj-create-btn{
     cursor: pointer;
           }